name: LCL Measurement Tool CI

env:
  # The name of the main module repository
  main_project_module: app

on:
  push:
    branches: [main]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle
    - name: Setup Android SDK
      uses: android-actions/setup-android@v3
    - name: Install Android SDK 35
      run: |
        sdkmanager "platforms;android-35"
        sdkmanager "build-tools;35.0.0"
    - name: Accept Android SDK licenses
      run: yes | sdkmanager --licenses || true
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      uses: gradle/gradle-build-action@v3
      with:
        arguments: app:build
    - name: Run Tests
      uses: gradle/gradle-build-action@v3
      with:
        arguments: app:testDemoDebugUnitTest
    - name: Generate APK Debug Build with Gradle (Dev)
      if: startsWith(github.ref, 'refs/tags/')
      uses: gradle/gradle-build-action@v3
      with:
        arguments: assembleDevDebug
    - name: Generate APK Release Build with Gradle (Full)
      if: startsWith(github.ref, 'refs/tags/')
      uses: gradle/gradle-build-action@v3
      with:
        arguments: assembleFullRelease
    - name: Upload to Github Release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        files: |
          ${{ env.main_project_module }}/build/outputs/apk/dev/debug/app-dev-debug.apk
          ${{ env.main_project_module }}/build/outputs/apk/full/release/app-full-release.apk
        draft: true
        prerelease: true
